<hgroup>
    <h5 >Hello <span ng-bind="name">???</span>. Please add a new Fuel Up</h5>
</hgroup>

<section ng-show="currentMileage">
    <ul class="unstyled">
        <li>Previous Mileage: {{previousFuelUp.odometer}}</li>
        <li>Entered Mileage: {{fuelUp.odometer}}</li>
        <li>Gallons Entered: {{fuelUp.gallons}}</li>
        <li>Miles Driven: {{milesDriven}}</li>
        <li>It cost you <em>{{fuelUpCost | currency}}</em> and you got <strong>{{currentMileage | roundTo2}}</strong> mpg.</li>
    </ul>
</section>

<section class="row well">
    <form class="center" ng-submit="submit()">
        <div class="control-group">
            <div class="controls">
                <input class="span12" type="text" id="odometerInput" ng-model="fuelUp.odometer" placeholder="Mileage" required />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input class="span12" type="text" name="gallons" ng-model="fuelUp.gallons" placeholder="Gallons" required />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input class="span12" type="text" name="price" ng-model="fuelUp.price" placeholder="PPG" />
            </div>
        </div>

       <!--  <div class="control-group">
            <div class="controls">
                <textarea name="note" cols="30" rows="10" ng-model="fuelUp.note" placeholder="Enter a Note..."></textarea>
            </div>
        </div> -->

       <!--  <div class="control-group">
            <div class="controls">
                <label class="checkbox">Partial Fuel-Up<input type="checkbox" name="partial" ng-model="fuelUp.partial" /></label>
                <label class="checkbox">Missed Fuel-Up<input type="checkbox" name="missed" ng-model="fuelUp.missed" /></label>
            </div>
        </div> -->

        <!-- <div class="control-group">
            <div class="controls">

                <button type="button" class="btn btn-primary" ng-model="fuelUp.partial" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Partial Fuel-Up</button>

                <button type="button" class="btn btn-primary" ng-model="fuelUp.missed" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Missed Fuel-Up</button>

            </div>
        </div> -->


    </button>

        <div class="">
            <button class="btn-large btn-block btn-primary" type="submit"><i class="icon-plus-sign icon-white"></i> Add</button>
        </div>
    </form>
</section>



