<!DOCTYPE html>
<html ng-app="Guzzio">

  <head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>Guzzio</title>
    <script>
      document.write('<base href="' + document.location + '" />');
    </script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body ng-controller="MainCtrl">
    <header>

      <nav class="navbar">
        <div class="navbar-inner">
          <div class="container">

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

              <a class="brand" ng-click="setRoute('Home')">Guzzio</a>

              <div class="nav-collapse" >
                <ul class="nav">
                  <li><a class="" ng-click="setRoute('Home')">Home</a></li>
                  <li><a class="" ng-click="setRoute('AddFuelUp')">Add a Fuel Up</a></li>
                </ul>
              </div>
            </div>
        </div>
      </nav>

      

    </header>
    <section class="container">
      <ng-view></ng-view>
    </section>

    <!-- SCRIPTS AND STUFF AFTER HERE -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap/ui-bootstrap-tpls-0.3.0-SNAPSHOT.js"></script>
    <script src="js/build/app.min.js"></script>
    <script>
      jQuery(document).ready(function($) {
        jQuery(".collapse").collapse();
      });
    </script>
  </body>

</html>